# Django
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=*

# Database
DB_NAME=docsmind
DB_USER=docsmind_user
DB_PASSWORD=docsmind_pass
DB_HOST=db
DB_PORT=5432

# OpenAI
OPENAI_API_KEY=your-openai-api-key-here
OPENAI_MODEL=gpt-4o-mini

# Gemini
GEMINI_API_KEY=your-gemini-api-key-here
GEMINI_MODEL=gemini-2.5-flash
AI_PROVIDER=gemini

# Landing.AI
LANDING_AI_API_KEY=your-landing-ai-api-key-here